<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlueCentaurea.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <BlueCentaurea.Properties.Settings>
            <setting name="BlueCentaurea_cn_com_webxml_www_qqOnlineWebService"
                serializeAs="String">
                <value>http://www.webxml.com.cn/webservices/qqOnlineWebService.asmx</value>
            </setting>
            <setting name="BlueCentaurea_DomesticAirline_DomesticAirline"
                serializeAs="String">
                <value>http://www.webxml.com.cn/webservices/DomesticAirline.asmx</value>
            </setting>
        </BlueCentaurea.Properties.Settings>
    </applicationSettings>
</configuration>
